body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: url('https://images.unsplash.com/photo-1422289304860-97fce8cf2066?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h4 {
  font-family: 'Playfair Display', serif;
}

textarea {
  background: transparent;
  height: auto;
  scroll-behavior: auto;
}

.jumbotron {
  text-align: center;
  border-radius: 0;
  background: rgb(201,223,242);
  background: linear-gradient(180deg, rgba(201,223,242,1) 0%, rgba(240,248,251,1) 100%);
}

.jumbotron h1 {
  color: #182526;
}

.lead, h4 {
  color: #468BA6;
}

.past {
  background-color: #969696;
  color: white;
}

.present {
  background-color: #f3bab7;
  color: #6c757d;
}

.future {
  background-color: #C9DFF2;
  color: #6c757d;
}

.input-group-text {
  background-color: #C9DFF2;
  border: 1px solid #fff;
}

.form-control { 
  border: 1px solid #DCECF2;
}


